
<h1>Whatever</h1>

<form action="/places" method="post">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name">
  </p>

  <p>
    <label for="description"> Description</label>
    <input type="text" name="description">>
    <p>
  <p>
    <label for="posted_on">Posted on</label>
    <input type="date" name= "posted_on">
    </p>
<p>
  label for="place_id"? Place ID </label>
  <input type="text" name="place_id" value="<%=@entry>>
  <p>

  <button>Submit</button>
</form>