

<h1><%= @place["name"] %></h1>

<h3>Entries</h3>
<ul>
  <% for entry in @entries %>
    <li>
      <%= entry["title"] %>, <%= contact["first_name"] %>
    </li>
  <% end %>
</ul>

<p>
  <a href="/contacts/new?place_id=<%= @place["id"] %>">entry</a>
</p>

<p><a href="/places">Back to All places</a></p>




